{% extends 'catalog/base.html' %}
{% block content %}
      <table class="table table-warning table-striped">
        <thead>
            <tr>
                <td>id</td>
                <td>Название</td>
                <td>Цена</td>
                <td>Категория</td>
                <td>Описание</td>
            </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
        <tr>
            <td>{{ object.id }}</td>
            <td>{{ object.product_name }}</td>
            <td>{{ object.price }}</td>
            <td>{{ object.category_id }}</td>
            <td>{{ object.description|truncatechars:100}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">FreshStore</h1>
    <p class="lead">FreshStore - будущий магазин вкусных и полезных вещей!</p>
</div>

<script src="/static/js/bootstrap.bundle.min.js"></script>

{% endblock %}

{% block footer %}
{% include 'catalog/includes/footer.html' %}
{% endblock %}
